<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="es.source.code">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <permission
        android:name="scos.permission.ACCESSSCOS"
        android:protectionLevel="dangerous" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.SCOSEntry"
            android:theme="@style/AppTheme.NoActionBar">

            <!-- intent filter里2个参数 -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MainScreen"
            android:permission="scos.permission.ACCESSSCOS"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="scos.intent.action.SCOSMAIN" />
                <category android:name="scos.intent.category.SCOSLAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.LoginOrRegister"
            android:theme="@style/AppTheme.NoActionBar">
            <!--<intent-filter>-->
            <!--<action android:name="fxxk" />-->
            <!--<category android:name="android.intent.category.EMBED" />-->
            <!--</intent-filter>-->
        </activity>
        <activity
            android:name=".activity.FoodView"
            android:theme="@style/AppTheme.NoActionBar">
            <!--<intent-filter>-->
            <!--<action android:name="fxxk" />-->
            <!--category为default的根据action名字遍历后启动的优先级跟高-->
            <!--<category android:name="android.intent.category.DEFAULT" />-->
            <!--</intent-filter>-->
        </activity>
        <activity
            android:name=".activity.SCOSHelper"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>